# XML example and exercise
****
+ study examples of accessing nodes in XML tree structure  
+ work on exercise to be completed and submitted
****
+ reference: https://docs.python.org/2.7/library/xml.etree.elementtree.html
+ data source: http://www.dbis.informatik.uni-goettingen.de/Mondial
****

In [1]:
from xml.etree import ElementTree as ET
import numpy as np

## XML example

+ for details about tree traversal and iterators, see https://docs.python.org/2.7/library/xml.etree.elementtree.html

In [29]:
document_tree = ET.parse( './data/mondial_database_less.xml' )

In [111]:
# print names of all countries
for child in document_tree.getroot():
    print(child.find('name').text)
    #How do I know I can do .text? I can't do .value and doing dir() doesn't give it to me

Albania
Greece
Macedonia
Serbia
Montenegro
Kosovo
Andorra

In [4]:
# print names of all countries and their cities
for element in document_tree.iterfind('country'):
    print('* ' + element.find('name').text + ':')
    capitals_string = ''
    for subelement in element.getiterator('city'):
        capitals_string += subelement.find('name').text + ', '
    print(capitals_string[:-2])

* Albania:
Tirana, Shkodër, Durrës, Vlorë, Elbasan, Korçë
* Greece:
Komotini, Kavala, Athina, Peiraias, Peristeri, Acharnes, Patra, Kozani, Kerkyra, Ioannina, Thessaloniki, Iraklio, Chania, Ermoupoli, Rhodes, Tripoli, Lamia, Chalkida, Larissa, Volos, Mytilini, Karyes
* Macedonia:
Skopje, Kumanovo
* Serbia:
Beograd, Novi Sad, Niš
* Montenegro:
Podgorica
* Kosovo:
Prishtine
* Andorra:
Andorra la Vella

****
## XML exercise

Using data in 'data/mondial_database.xml', the examples above, and refering to https://docs.python.org/2.7/library/xml.etree.elementtree.html, find

1. 10 countries with the lowest infant mortality rates
2. 10 cities with the largest population
3. 10 ethnic groups with the largest overall populations (sum of best/latest estimates over all countries)
4. name and country of a) longest river, b) largest lake and c) airport at highest elevation

In [2]:
document = ET.parse( './data/mondial_database.xml' )

In [39]:
import pandas as pd
import numpy as np
# function to create a dataframe with the country name plus one other field (??What if I want to make 1 to several fields?)
# answer is *args but I'm not sure exactly how to do it. Maybe ask Ryan.
def create_dataframe(data,column):
        df = pd.DataFrame(columns=('name', column))
        for child in data:
            country = child.find('name').text
            other = child.find(column)
            if other is None:
                other = np.NaN
            else:
                other = float(other.text)
            row = dict(zip(['name', column], [country,other]))
            row_series = pd.Series(row)
            row_series.name = country
            df = df.append(row_series)
        return df

In [43]:
#1. 10 countries with the lowest infant mortality
test = create_dataframe(document.getroot(),'infant_mortality')
#test
test.sort_values(by="infant_mortality").head(10)

                          name  infant_mortality
Monaco                  Monaco              1.81
Japan                    Japan              2.13
Bermuda                Bermuda              2.48
Norway                  Norway              2.48
Singapore            Singapore              2.53
Sweden                  Sweden              2.60
Czech Republic  Czech Republic              2.63
Hong Kong            Hong Kong              2.73
Macao                    Macao              3.13
Iceland                Iceland              3.15

In [6]:
# 2. There are multiple populations per city for different years, but the years don't always match.  I'll pull the largest
# for each city and retain the year of that value
city_pop_df = pd.DataFrame(columns=('city', 'population', 'year'))
for element in document.iterfind('country'):
    for subelement in element.getiterator('city'):
        city = subelement.find('name').text #This is the first child only, so the fact there are 2 city names for Tirana is ok
        maxpop = 0
        year = 0
        for population in subelement.findall('population'): #There are multiple populations for each city!
            pop = float(population.text)
            if pop > maxpop:
                maxpop = pop
                year = population.get('year')
        row = dict(zip(['city', 'population','year'], [city,maxpop,year]))
        row_series = pd.Series(row)
        row_series.name = city
        city_pop_df = city_pop_df.append(row_series)

In [13]:
city_pop_df.sort_values(by="population",ascending=False).head(10)

                city  population  year
Shanghai    Shanghai  22315474.0  2010
Istanbul    Istanbul  13710512.0  2012
Delhi          Delhi  12877470.0  2001
Mumbai        Mumbai  12442373.0  2011
Moskva        Moskva  11979529.0  2013
Beijing      Beijing  11716620.0  2010
São Paulo  São Paulo  11152344.0  2010
Tianjin      Tianjin  11090314.0  2010
Guangzhou  Guangzhou  11071424.0  2010
Shenzhen    Shenzhen  10358381.0  2010

In [16]:
# 3. There are multiple ethnicities per country listed as a percentage. I will grab all, the percentages, and the latest
# population and create a data frame. Then I'll group by ethnicity and get sums
ethnicity_df = pd.DataFrame(columns=('country', 'ethnicity', 'as_pct','as_pop'))
for element in document.iterfind('country'):
    country = element.find('name').text
    latest_pop = 0
    latest_year = 0
    for population in element.findall('population'): #There are multiple populations for each country: Need Latest
        pop = float(population.text)
        year = float(population.get('year'))
        if year > latest_year:
            latest_pop = pop
    for group in element.findall('ethnicgroup'): #There are multiple ethnicities for each country
        ethnicity = group.text
        pct = float(group.get('percentage'))
        ethnicity_pop = latest_pop*pct/100
        row = dict(zip(['country', 'ethnicity', 'as_pct','as_pop'], [country,ethnicity,pct,ethnicity_pop]))
        row_series = pd.Series(row)
        row_series.name = country
        ethnicity_df = ethnicity_df.append(row_series)

In [17]:
ethnicity_df.head()

             country   ethnicity  as_pct        as_pop
Albania      Albania    Albanian    95.0  2.660131e+06
Albania      Albania       Greek     3.0  8.400414e+04
Greece        Greece       Greek    93.0  1.005915e+07
Macedonia  Macedonia  Macedonian    64.2  1.322388e+06
Macedonia  Macedonia    Albanian    25.2  5.190681e+05

In [19]:
ethnicity_df.groupby(by='ethnicity').sum().sort_values(by="as_pop",ascending=False).head(10)

              as_pct        as_pop
ethnicity
Han Chinese    91.50  1.245059e+09
Indo-Aryan     72.00  8.718156e+08
European      970.82  4.948722e+08
African      1868.55  3.183251e+08
Dravidian      25.00  3.027137e+08
Mestizo       870.70  1.577344e+08
Bengali        98.00  1.467769e+08
Russian       224.10  1.318570e+08
Japanese       99.40  1.265342e+08
Malay         242.30  1.219936e+08

In [23]:
#What is "Dravidian"?
ethnicity_df[ethnicity_df.ethnicity == "Dravidian"]

      country  ethnicity  as_pct        as_pop
India   India  Dravidian    25.0  3.027137e+08

In [24]:
#What are the other ethnicities in India?
ethnicity_df[ethnicity_df.country == "India"]

      country   ethnicity  as_pct        as_pop
India   India   Dravidian    25.0  3.027137e+08
India   India  Indo-Aryan    72.0  8.718156e+08
India   India      Mongol     3.0  3.632565e+07

In [57]:
# 4. name and country of a) longest river
river_df = pd.DataFrame(columns=('river', 'code', 'length'))
for element in document.iterfind('river'):
    river = element.find('name').text
    length= element.find('length')
    if length is None:
        length = np.NaN
    else:
        length = float(length.text)
    source = element.find('source').get('country')
    row = dict(zip(['river', 'code', 'length'], [river,source,length]))
    row_series = pd.Series(row)
    row_series.name = river
    river_df = river_df.append(row_series)

In [58]:
# Need the countries from the country codes
country_df = pd.DataFrame(columns=('country', 'code'))
for element in document.iterfind('country'):
    code = element.get('car_code')
    country = element.find('name').text
    row = dict(zip(['country', 'code'], [country,code]))
    row_series = pd.Series(row)
    row_series.name = country
    country_df = country_df.append(row_series)

In [59]:
river_country_df = pd.merge(river_df,country_df,on='code')

In [63]:
river_country_df.sort_values(by="length",ascending=False).head(10)

        river code  length        country
171  Amazonas   PE  6448.0           Peru
131   Jangtse   CN  6380.0          China
130   Hwangho   CN  4845.0          China
120      Lena    R  4400.0         Russia
199     Zaire  ZRE  4374.0          Zaire
132    Mekong   CN  4350.0          China
124   Irtysch  KAZ  4248.0     Kazakhstan
179     Niger   RG  4184.0         Guinea
155  Missouri  USA  4130.0  United States
117  Jenissej    R  4092.0         Russia

In [73]:
# 4. name and country of b) largest lake
lake_df = pd.DataFrame(columns=('lake', 'code', 'area'))
for element in document.iterfind('lake'):
    lake = element.find('name').text
    area= element.find('area')
    if area is None:
        area = np.NaN
    else:
        area = float(area.text)
    source = element.get('country')
    row = dict(zip(['lake', 'code', 'area'], [lake,source,area]))
    row_series = pd.Series(row)
    row_series.name = lake
    lake_df = lake_df.append(row_series)
lake_df = pd.merge(lake_df,country_df,on='code')  
lake_df.sort_values(by="area",ascending=False).head(10)

                   lake code     area        country
77        Lake Michigan  USA  57800.0  United States
70      Great Bear Lake  CDN  31792.0         Canada
35         Ozero Baikal    R  31492.0         Russia
71     Great Slave Lake  CDN  28568.0         Canada
73        Lake Winnipeg  CDN  24420.0         Canada
43       Ozero Balchash  KAZ  18428.0     Kazakhstan
33         Ozero Ladoga    R  18400.0         Russia
95       Lake Maracaibo   YV  13000.0      Venezuela
68  Makarikari Salt Pan   RB  12000.0       Botswana
98       Salar de Uyuni  BOL  10582.0        Bolivia

In [97]:
# 4. name and country of c) airport at highest elevation

airport_df = pd.DataFrame(columns=('airport', 'code', 'elevation'))
for element in document.iterfind('airport'):
    airport = element.find('name').text
    elevation= element.find('elevation')
    if elevation.text is None:
        elevation = np.NaN
    else:
        elevation = float(elevation.text)
    source = element.get('country')
    row = dict(zip(['airport', 'code', 'elevation'], [airport,source,elevation]))
    row_series = pd.Series(row)
    row_series.name = airport
    airport_df = airport_df.append(row_series)
#airport_df.head()
airport_df = pd.merge(airport_df,country_df,on='code')  
airport_df.sort_values(by="elevation",ascending=False).head(10)

,airport,code,elevation,country
80,El Alto Intl,BOL,4063.0,Bolivia
219,Lhasa-Gonggar,CN,4005.0,China
241,Yushu Batang,CN,3963.0,China
813,Juliaca,PE,3827.0,Peru
815,Teniente Alejandro Velasco Astete Intl,PE,3311.0,Peru
82,Juana Azurduy De Padilla,BOL,2905.0,Bolivia
334,Mariscal Sucre Intl,EC,2813.0,Ecuador
805,Coronel Fap Alfredo Mendivil Duarte,PE,2719.0,Peru
807,Mayor General FAP Armando Revoredo Iglesias Ai...,PE,2677.0,Peru
692,Licenciado Adolfo Lopez Mateos Intl,MEX,2581.0,Mexico